{# Resources/views/Appointment/addAppointment.html.twig #}

{% extends 'MockBundle:Default:navigationPage.html.twig' %}

{% block title %}{{ parent() }} | Add appointment{% endblock %}

{% block pageTitle %}Add appointment{% endblock %}

{% block navigation %}
    <ul class="nav nav-list">
        <li class="nav-header">Appointments</li>
        <li><a href="{{ path('healthsystem_appointment_add') }}">Add appointment</a></li>
        <li><a href="{{ path('healthsystem_appointment') }}">View appointments</a></li>
        <li class="divider"></li>
        <li class="nav-header">Other</li>
        <li><a href="{{ path('healthsystem_nurse') }}">Nurses</a></li>
        <li><a href="{{ path('healthsystem_doctor') }}">Doctors</a></li>
        <li><a href="{{ path('healthsystem_patient') }}">Patients</a></li>
        <li><a href="{{ path('healthsystem_symptom') }}">Symptoms</a></li>
        <li><a href="{{ path('healthsystem_medicalhistory') }}">Medical Histories</a></li>
        <li><a href="{{ path('healthsystem_bill') }}">Bills</a></li>
        <li><a href="{{ path('healthsystem_illness') }}">Illnesses</a></li>
        <li><a href="{{ path('healthsystem_treatment') }}">Treatments</a></li>
    </ul>
{% endblock %}

{% block contents %}
    {{ parent() }}
    {{ form(form) }}
{% endblock %}
