{# Resources/views/Nurse/addNurse.html.twig #}

{% extends 'MockBundle:Default:navigationPage.html.twig' %}

{% block title %}{{ parent() }} | Add nurse{% endblock %}

{% block pageTitle %}Add nurse{% endblock %}

{% block navigation %}
    <ul class="nav nav-list">
        <li class="nav-header">Nurses</li>
        <li><a href="{{ path('healthsystem_nurse_add') }}">Add nurse</a></li>
        <li><a href="{{ path('healthsystem_nurse') }}">View nurses</a></li>
        <li class="divider"></li>
        <li class="nav-header">Other</li>
        <li><a href="{{ path('healthsystem_doctor') }}">Doctors</a></li>
        <li><a href="{{ path('healthsystem_patient') }}">Patients</a></li>
        <li><a href="{{ path('healthsystem_symptom') }}">Symptoms</a></li>
        <li><a href="{{ path('healthsystem_medicalhistory') }}">Medical Histories</a></li>
        <li><a href="{{ path('healthsystem_appointment') }}">Appointments</a></li>
        <li><a href="{{ path('healthsystem_bill') }}">Bills</a></li>
        <li><a href="{{ path('healthsystem_illness') }}">Illnesses</a></li>
        <li><a href="{{ path('healthsystem_treatment') }}">Treatments</a></li>
    </ul>
{% endblock %}

{% block contents %}
    {{ parent() }}
    {{ form(form) }}
{% endblock %}
