{# Resources/views/Treatment/addTreatment.html.twig #}

{% extends 'MockBundle:Default:navigationPage.html.twig' %}

{% block title %}{{ parent() }} | Add treatment{% endblock %}

{% block pageTitle %}Add treatment{% endblock %}

{% block navigation %}
    <ul class="nav nav-list">
        <li class="nav-header">Treatments</li>
        <li><a href="{{ path('healthsystem_treatment_add') }}">Add treatment</a></li>
        <li><a href="{{ path('healthsystem_treatment') }}">View treatments</a></li>
        <li class="divider"></li>
        <li class="nav-header">Other</li>
        <li><a href="{{ path('healthsystem_nurse') }}">Nurses</a></li>
        <li><a href="{{ path('healthsystem_doctor') }}">Doctors</a></li>
        <li><a href="{{ path('healthsystem_patient') }}">Patients</a></li>
        <li><a href="{{ path('healthsystem_symptom') }}">Symptoms</a></li>
        <li><a href="{{ path('healthsystem_medicalhistory') }}">Medical Histories</a></li>
        <li><a href="{{ path('healthsystem_appointment') }}">Appointments</a></li>
        <li><a href="{{ path('healthsystem_bill') }}">Bills</a></li>
        <li><a href="{{ path('healthsystem_illness') }}">Illnesses</a></li>
    </ul>
{% endblock %}

{% block contents %}
    {{ parent() }}
    {{ form(form) }}
{% endblock %}
