{# Resources/views/Treatment/listTreatment.html.twig #}

{% extends 'MockBundle:Default:navigationPage.html.twig' %}

{% block title %}{{ parent() }} | View treatments{% endblock %}

{% block pageTitle %}View treatments{% endblock %}

{% block navigation %}
    <ul class="nav nav-list">
        <li class="nav-header">Treatments</li>
        <li><a href="{{ path('healthsystem_treatment_add') }}">Add treatment</a></li>
        <li><a href="{{ path('healthsystem_treatment') }}">View treatments</a></li>
        <li class="divider"></li>
        <li class="nav-header">Other</li>
        <li><a href="{{ path('healthsystem_nurse') }}">Nurses</a></li>
        <li><a href="{{ path('healthsystem_doctor') }}">Doctors</a></li>
        <li><a href="{{ path('healthsystem_patient') }}">Patients</a></li>
        <li><a href="{{ path('healthsystem_symptom') }}">Symptoms</a></li>
        <li><a href="{{ path('healthsystem_medicalhistory') }}">Medical Histories</a></li>
        <li><a href="{{ path('healthsystem_appointment') }}">Appointments</a></li>
        <li><a href="{{ path('healthsystem_bill') }}">Bills</a></li>
        <li><a href="{{ path('healthsystem_illness') }}">Illnesses</a></li>
    </ul>
{% endblock %}

{% block contents %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>SymptomName</th>
                <th>IllnessCode</th>
                <th>Medication</th>
                <th>Instructions</th>
                <th>SymptomSeverity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for treatment in treatments %}
                <tr>
                    <td>{{ treatment.getId() }}</td>
                    <td>{{ treatment.getSymptomName() }}</td>
                    <td>{{ treatment.getIllnessCode() }}</td>
                    <td>{{ treatment.getMedication() }}</td>
                    <td>{{ treatment.getInstructions() }}</td>
                    <td>{{ treatment.getSymptomSeverity() }}</td>
                    <td>
                        <a href="{{ path('healthsystem_treatment_edit', {'id': treatment.getId()}) }}">Edit</a>
                        <a href="{{ path('healthsystem_treatment_delete', {'id': treatment.getId()}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
