{# Resources/views/Patient/listPatient.html.twig #}

{% extends 'MockBundle:Default:navigationPage.html.twig' %}

{% block title %}{{ parent() }} | View patients{% endblock %}

{% block pageTitle %}View patients{% endblock %}

{% block navigation %}
    <ul class="nav nav-list">
        <li class="nav-header">Patients</li>
        <li><a href="{{ path('healthsystem_patient_add') }}">Add patient</a></li>
        <li><a href="{{ path('healthsystem_patient') }}">View patients</a></li>
        <li class="divider"></li>
        <li class="nav-header">Other</li>
        <li><a href="{{ path('healthsystem_nurse') }}">Nurses</a></li>
        <li><a href="{{ path('healthsystem_doctor') }}">Doctors</a></li>
        <li><a href="{{ path('healthsystem_symptom') }}">Symptoms</a></li>
        <li><a href="{{ path('healthsystem_medicalhistory') }}">Medical Histories</a></li>
        <li><a href="{{ path('healthsystem_appointment') }}">Appointments</a></li>
        <li><a href="{{ path('healthsystem_bill') }}">Bills</a></li>
        <li><a href="{{ path('healthsystem_illness') }}">Illnesses</a></li>
        <li><a href="{{ path('healthsystem_treatment') }}">Treatments</a></li>
    </ul>
{% endblock %}

{% block contents %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Birthdate</th>
                <th>MedicalHistory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.getId() }}</td>
                    <td>{{ patient.getLastname() }}</td>
                    <td>{{ patient.getFirstname() }}</td>
                    <td>{{ patient.getAddress() }}</td>
                    <td>{{ patient.getPhone() }}</td>
                    <td>{{ patient.getBirthdate() | date('d-M-Y') }}</td>
                    <td>{{ patient.getMedicalHistory() }}</td>
                    <td>
                        <a href="{{ path('healthsystem_patient_edit', {'id': patient.getId()}) }}">Edit</a>
                        <a href="{{ path('healthsystem_patient_delete', {'id': patient.getId()}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
